#navPath {
    background-color: rgb(0, 126, 132);
    height: 3rem;
}

#navPath h1 {
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    padding: 0.85rem 0 0 5rem;
    word-spacing: 2px;
}

#currentPath {
    font-weight: 800;
}

/* ---------------------- */
/* ---------------------- */
/* ---- DESKTOP ONLY ---- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 1300px) {

    

}

/* ---------------------- */
/* ---------------------- */
/* ---- TABLET ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 900px) and (max-width: 1299px) {

    
}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 899px) {

    #navPath {
        padding: 0 0 0 0;
    }
    
    #navPath h1 {
        font-size: 1.5rem;
        padding: auto 0 auto 5rem;
    }

}