#googleMaps {
    width: 100%;
    margin-bottom: 2.5rem;
}

#phoneTitle {
    font-size: 3rem;
    text-align: center;
    color: rgb(0, 126, 132);
}

#tallTitle {
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    border-bottom: 1px solid black;
    width: 85%;
    margin: 0 auto;
    padding: 1rem 0 2rem 0;
}

.tallSectionLead {
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: none;
}

#sideBySideContent {
    display: flex;
}

#contactFormContainer {
    margin-right: 2rem;
}

#contactFormContainer, #serviceLocationsContainer {
    margin-top: 2rem;
}

#contactUsForm * {
    display: flex;
    margin: 1rem 0;
}

#contactUsForm label {
    color: rgb(0, 126, 132);
    text-transform: uppercase;
    font-weight: 800;
}

#contactUsForm input[type=text], textarea {
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 5px;
    resize: none;
    font-size: 1rem;
    padding: 0.75rem 0.5rem;
    min-width: 18rem;
}

#contactUsForm input[type=submit] {
    background-color: rgb(0, 126, 132);
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    border-top: 2px solid rgb(0, 206, 216);
    border-left: 2px solid rgb(0, 206, 216);
    padding: 0.5rem 3.5rem;
    border-radius: 20px;
    cursor: pointer;
}

#capcha {
    width: 20rem;
}
#capcha:hover {
    cursor: pointer;
}

#serviceLocationsContainer h3 {
    font-size: 1.25rem;
    margin: 1rem 0;
}

#serviceLocationsContainer p {
    font-size: 1.25rem;
    color: rgb(157, 157, 157);
    margin: 1rem 0;
}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 899px) {

    #phoneTitle {
        font-size: 2.5rem;
    }

    #tallTitle {
        font-size: 1rem;
    }

    .tallSectionLead {
        font-size: 2rem;
    }

    #sideBySideContent {
        display: block;
    }

    #contactFormContainer {
        margin-right: unset;
    }
    
    #serviceLocationsContainer {
        margin-top: 3rem;
    }

}