.consultSetupContainer {
    max-width: 70rem;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

#consultSetup-portfolio {
    margin-bottom: -8rem;
    position: relative;
    top: -8rem;
}

#consultSetupLabel {
    background-color: rgb(0, 126, 132);
    color: white;
    text-align: center;
    padding: 1rem;
}

#consultSetupForm form {
    background-color: rgb(240, 240, 240);
    display: flex;
}

#consultSetupLabel h1 {
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 0.4rem;
}

#consultSetupLabel h2 {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: none;
}

#consultSetupForm input {
    display: block;
    font-size: 1.2rem;
    border: none;
    padding: 0.5rem;
    width: 90%;
}
#consultSetupForm input[type=text] {
    margin: 1.5rem 0 1.5rem 1.25rem;
}
#consultSetupForm input[type=submit] {
    margin: 1.5rem auto 0.5rem auto;
    padding: 0.6rem 0.25rem;
    max-width: 50%;
    border-radius: 35px;
}
#consultSetupForm input[type=submit]:hover {
    cursor: pointer;
}

.formColumn {
    background-color: rgb(240, 240, 240);
    width: 33%;
}

#consultSetupFormSubmit {
    background-color: rgb(0, 126, 132);
    color: white;
    text-transform: uppercase;
}

#consultSetupForm p {
    font-size: 0.8rem;
    text-align: center;
}

/* ---------------------- */
/* ---------------------- */
/* ---- DESKTOP ONLY ---- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 1300px) {

    #consultSetup-home {
        margin-bottom: -17rem;
        position: relative;
        top: -20rem;
    }

}

/* ---------------------- */
/* ---------------------- */
/* ---- TABLET ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 900px) and (max-width: 1299px) {

    #consultSetup-home {
        margin-bottom: -17rem;
        position: relative;
        top: -20rem;
    }
    
}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 899px) {
    
    #consultSetupForm form {
        display: block;
        margin: 1 0 0 0;
        padding: 2rem 0 3rem 0;
    }

    #consultSetupLabel {
        padding: 1.5rem;
    }

    #consultSetupLabel h1 {
        font-size: 2.7rem;
        margin-bottom: 0.4rem;
    }

    #consultSetupLabel h2 {
        font-size: 2.4rem;
    }

    #consultSetupForm input {
        font-size: 1.5rem;
        padding: 1rem 0.5rem;
        justify-content: center;
    }
    #consultSetupForm input[type=text] {
        margin: 0 0 1rem 1.25rem;
    }
    #consultSetupForm input[type=submit] {
        margin: 1.5rem auto 0.5rem auto;
        padding: 1rem 0.25rem;
        font-size: 1.8rem;
        max-width: 90%;
        border-radius: 35px;
    }

    .formColumn {
        width: 100%;
    }
    
    #consultSetupForm p {
        font-size: 1.2rem;
        text-align: center;
    }

}