#footerContainer {
    background-color: rgb(47, 47, 47);
    padding: 1.25rem 0;
    text-align: center;
}

#footerContainer p {
    font-size: 1.1rem;
}

#footerColumnContainer {
    display: flex;
    justify-content: space-around;
}

#footerContainer * {
    color: white;
}

.footerColumn {
    display: block;
    width: 20%;
}

.columnTopper {
    font-size: 1.5rem;
    text-transform: uppercase;
    min-height: 4rem;
}

#footerLogo {
    width: 75%;
}

#contactColumn {
    text-align: left;
}

.footerDivider {
    background-color: #007e84;
    height: 1px;
    margin: 1rem 0 1.5rem 0;
}

#contactList li {
    text-align: left;
    display: flex;
    margin: 0 0 1rem 0;
}

.vectorIcon {
    margin: auto 1rem auto 0;
}

#missionColumn {
    text-align: right;
    line-height: 170%;
}

li {
    font-size: 1.1rem;
    line-height: 150%;
}

#threemauthorizationstamp {
    max-width: 30rem;
    padding: 3rem 0 1.5rem 0;
}

/* ---------------------- */
/* ---------------------- */
/* ---- DESKTOP ONLY ---- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 1300px) {

    .vectorIcon {
        max-width: 1.25rem;
        max-height: 1.5rem;
    }

}

/* ---------------------- */
/* ---------------------- */
/* ---- TABLET ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 900px) and (max-width: 1299px) {

    .vectorIcon {
        max-width: 1.25rem;
        max-height: 1.5rem;
    }
    
}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 899px) {

    #footerContainer {
        padding: 2rem 3%;
    }

    #footerContainer p, li {
        font-size: 1.6rem;
        text-align: left;
    }

    #footerContainer a {
        font-size: 1.3rem;
    }

    #footerColumnContainer {
        display: unset;
    }

    .footerColumn {
        width: unset;
        padding-bottom: 5rem;
    }
    
    .columnTopper {
        font-size: 2.7rem;
        text-align: left;
        min-height: 0;
        padding: 0.7rem 0;
    }

    #footerLogo {
        width: 20rem;
    }

    .vectorIcon {
        width: 2rem;
        max-height: 2rem;
    }
    
    #missionColumn {
        text-align: left;
        line-height: 300%;
    }

    #threemauthorizationstamp {
        max-width: 90%;
        padding: 3rem 0 1.5rem 0;
    }

    p#rightsReservedNote {
        text-align: center;
    }

}