#testimonialContainer {
    display: flex;
    margin: 0 5rem 5rem 5rem;
}

.testimonial {
    margin: 0 1.5rem;
}

.testimonial p {
    color: rgb(157, 157, 157);
    border-bottom: 1px solid rgb(157, 157, 157);
    padding: 0 0 1rem 0;
    margin: 0 0 2rem 0;
    font-size: 1.2rem;
}

.testimonial h1, h2 {
    text-transform: uppercase;
    font-size: 1.45rem;
}

.testimonial h2 {
    color: #007e84;
}

/* ---------------------- */
/* ---------------------- */
/* ---- DESKTOP ONLY ---- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 1300px) {

    

}

/* ---------------------- */
/* ---------------------- */
/* ---- TABLET ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (min-width: 900px) and (max-width: 1299px) {

    
    
}

/* ---------------------- */
/* ---------------------- */
/* ---- MOBILE ONLY ----- */
/* ---------------------- */
/* ---------------------- */

@media only screen and (max-width: 899px) {

    #testimonialContainer {
        display: unset;
    }

    .testimonial {
        margin: 0 2rem 5rem 2rem;
    }

    .testimonial p {
        font-size: 1.2rem;
        padding: 0 0 2rem 0;
        margin: 0 0 1rem 0;
    }

    .testimonial h1, h2 {
        font-size: 1.25rem;
    }
    
    .testimonial h2 {
        color: #007e84;
    }

}